<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="messageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" />

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg name="messageConverters" >
            <array>
                <ref bean="messageConverter"/>
            </array>
        </constructor-arg>
    </bean>

    <bean id="sslRestTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg name="messageConverters" >
            <array>
                <ref bean="messageConverter"/>
            </array>
        </constructor-arg>
    </bean>
</beans>
