<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="APP_NAME" value="alpsmodulegenerator"/>
    <property name="LOG_PATH" value="D:\\alps\\AlpsModuleGenerator\\target\\log"/>
    <contextName>${APP_NAME}</contextName>

    <appender name="RunConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %method:%L - %msg%n</pattern>
        </encoder>
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="RunFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/run.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">　　　　　　　　　　　
            <fileNamePattern>${LOG_PATH}/run.%i.log</fileNamePattern>　　　　　　　　　　　　　　
            <minIndex>1</minIndex>　　　　　　　　　　　　　　
            <maxIndex>100</maxIndex>　　　　　　　　　　　　
        </rollingPolicy>　　　　　　　　　　
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">　　　　　　　　　　
            <maxFileSize>100MB</maxFileSize>　　　　　　　　　　　
        </triggeringPolicy>　　　　　　　　　
        <encoder>　　　　　　　
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %method:%L - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="RunErrorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/run-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %method:%L - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="RunConsoleAppender"/>
        <appender-ref ref="RunFileAppender"/>
        <appender-ref ref="RunErrorFileAppender"/>
    </root>
</configuration>