<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.projn.alps">
        <context:exclude-filter type="aspectj" expression="com.projn.alps.bean.MybatisConfig"/>
        <context:exclude-filter type="aspectj" expression="com.projn.alps.bean.RestConfig"/>
        <context:exclude-filter type="aspectj" expression="com.projn.alps.bean.SpringKafkaProducerConfig"/>
        <context:exclude-filter type="aspectj" expression="com.projn.alps.bean.SpringDataRedisConfig"/>
        <context:exclude-filter type="aspectj" expression="com.projn.alps.bean.SpringDataRedisClusterConfig"/>
        <context:exclude-filter type="aspectj" expression="com.projn.alps.bean.SpringMongoDbConfig"/>
    </context:component-scan>

    <context:property-placeholder location="classpath*:config/*.properties"/>

    <import resource="classpath:bootstrap/spring-data-redis.xml"/>
    <import resource="classpath:bootstrap/spring-druid.xml"/>
    <import resource="classpath:bootstrap/spring-quartz.xml"/>
    <import resource="classpath:bootstrap/spring-rest.xml"/>
    <import resource="classpath:bootstrap/spring-threadpool.xml"/>
    <import resource="classpath:bootstrap/spring-mybatis-test.xml"/>
</beans>
